.alexpark {
  font-size: 17vmin;
  font-weight: 700;
  color: transparent;
  letter-spacing: 0.2em;
  text-align: center;
  background: linear-gradient(
    to right,
    #3bbfff 20%,
    #ff0 40%,
    #33a5de 60%,
    #33a5de 80%
  );
  background-size: 200% auto;
  -webkit-text-stroke: 2px var(--yangColor);
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1.1em;
  animation-name: shine;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  100% {
    background-position: 0 60em;
  }
}

@keyframes shine {
  from {
    background-position: -50% center;
  }
  to {
    background-position: 150% center;
  }
}

.indexbody {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.blackbox {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  padding-bottom: 20px;
}

.whitebox {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  padding-bottom: 20px;
}

.coloredboxes {
  height: 100vh;
  width: 100vw;
}

.indexbody {
  background-color: black;
}

.whoami {
  padding: 5px all;
  width: 60vw;
  height: 10vh;
  background-color: white;
  margin-left: 10vw;
}

.nameHeader {
  /* take up entirety of the screen */
  height: 100vh;
  width: 100vw;
  
  /* align the text in the middle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameHeaderRight {
  /* take up the right half of the screen */
  height: 100vh;
  width: 50vw;
  position: absolute;
  right: 0;
  
  background-color: white;
}

.nameHeaderTextWhite {
  color: white;
  font-size: 9em;
  font-family: monospace;
  
  /* appear in front of the white div */
  z-index: 1;
}

.nameHeaderTextBlack {
  color: black;
}
